<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-windows-capability-internetClient" version="0.0.1">
    <name>internetAccess</name>
    <description>Cordova Windows Internet Access capability</description>
    <license>Apache 2.0</license>
    <keywords>cordova,windows,internetAccess</keywords>
    <platform name="windows">
        <config-file target="package.appxmanifest" parent="/Package/Capabilities"> 
            <Capability Name="internetClient" />
        </config-file> 
    </platform>
</plugin>
